@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---background: #000000;
  ---foreground: #ffffff;
}

body {
  background-color: var(---background);
  color: var(---foreground);
  min-height: 100vh;
}

pre::-webkit-scrollbar{
  height: 8px;
  width: 8px;
  background-color: rgb(27, 27, 27);
}
pre::-webkit-scrollbar-thumb{
  background: rgb(76, 76, 76);
  border-radius: 0.25rem;
}
pre::-webkit-scrollbar-corner{
  background-color: rgb(27, 27, 27);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  article h1 {
    @apply text-3xl lg:text-4xl font-semibold leading-none w-fit border-b-2 pb-1
  }
  article h2 {
    @apply text-xl lg:text-2xl font-semibold leading-none w-fit border-b-2 pb-1 mt-8
  }
  article .txt-normal {
    @apply text-base lg:text-[17px] font-light leading-snug text-gray-200
  }
  article pre{
    @apply !bg-[#0e0e0f] p-6 border border-gray-400/40 mt-10 w-full !m-0 !rounded-none
  }
  article pre span{
    @apply  !text-[15px]
  }
}