@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---background: #000000;
  ---foreground: #ffffff;
}

body {
  background-color: var(---background);
  color: var(---foreground);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  article h1 {
    @apply text-3xl lg:text-4xl font-semibold leading-none w-fit border-b-2 pb-1
  }
  article h2 {
    @apply text-xl lg:text-2xl font-semibold leading-none w-fit border-b-2 pb-1 mt-8
  }
  article .txt-normal {
    @apply text-base lg:text-[17px] font-light leading-snug text-gray-200
  }
}